@import '../../styles/variables.less';

.form {
  label {
    font-size: @font-size-copy;
  }

  textarea {
    height: 50px;
  }

  &__rte-container {
    margin: @spacing-standard 0;

    .ql-container,
    .ql-toolbar {
      box-shadow: @shadow-discrete;
    }

    .ql-picker {
      width: 90px !important;
      font-size: @font-size-smaller !important;
    }

    .ql-container {
      min-height: 150px;
      max-height: 450px;
      overflow-y: scroll;
    }

    .ql-toolbar {
      margin-top: 3px;
    }
    .ql-formats {
      margin-right: @spacing-tiny !important;

      &:last-child {
        margin: 0 !important;
      }
    }
  }

  &__section {
    & + & {
      margin-top: @spacing-standard;
    }

    > textarea,
    > input {
      margin-top: 3px;
    }
  }

  &__input__range {
    margin-left: @spacing-small;
  }

  &__small-input {
    width: @input-small-width;
  }

  &__input {
    &__label {
      font-size: @font-size-smaller;
      font-weight: 500;
    }

    &__description {
      font-size: @font-size-smaller;
      font-weight: 400;
      font-style: italic;
    }

    &__chars-left {
      font-size: @font-size-smaller;
    }
  }

  .row {
    height: @input-small-height + @input-small-height * 0.1;

    input {
      &:first-child {
        margin-right: @spacing-small;
      }

      &:last-child {
        margin-left: @spacing-small;
      }
    }
  }
}
