.button {
  border-radius: 1px;
  padding: 0 @spacing-larger;
  background-color: @blue-0;
  font-size: @font-size-smaller;
  font-weight: 600;
  height: 45px;
  box-shadow: @shadow-discrete;
  text-transform: uppercase;

  &-red {
    background-color: @color-red;
  }

  > * {
    color: @color-white;
  }

  a {
    margin-top: -2px;
  }
}
