@import './variables.less';

// https://codepen.io/MadeByMike/pen/RWJyML
// https://www.smashingmagazine.com/2016/05/fluid-typography/
.fluid-type(@property, @min-vw, @max-vw, @min-size, @max-size) {
  @{property}: @min-size;

  @media screen and (min-width: @min-vw) {
    @{property}: calc(
      @min-size ~' + ' unit(@max-size - @min-size) ~' * ((100vw - ' @min-vw ~') /' unit(
          @max-vw - @min-vw
        ) ~')'
    );
  }

  @media screen and (min-width: @max-vw) {
    @{property}: @max-size;
  }
}

.subheaderText {
  margin-top: @spacing-min;
  font-size: @font-size-copy;
  font-weight: 800;
  text-transform: uppercase;
  color: @font-color-1;
  transform: scale(1, 0.95);
}

// Spacing Mixins - Large

.marLeftLarge {
  @media @mq-phone {
    margin-left: @spacing-standard;
  }
  @media @mq-tablet {
    margin-left: @spacing-large;
  }
  @media @mq-desktop {
    margin-left: @spacing-max;
  }
}

.padTopLarge {
  @media @mq-phone {
    padding-top: @spacing-standard;
  }
  @media @mq-tablet {
    padding-top: @spacing-large;
  }
  @media @mq-desktop {
    padding-top: @spacing-max;
  }
}

.padBotLarge {
  @media @mq-phone {
    padding-bottom: @spacing-standard;
  }
  @media @mq-tablet {
    padding-bottom: @spacing-large;
  }
  @media @mq-desktop {
    padding-bottom: @spacing-max;
  }
}

.marTopLarge {
  @media @mq-phone {
    margin-top: @spacing-standard;
  }
  @media @mq-tablet {
    margin-top: @spacing-large;
  }
  @media @mq-desktop {
    margin-top: @spacing-max;
  }
}

.marBotLarge {
  @media @mq-phone {
    margin-bottom: @spacing-standard;
  }
  @media @mq-tablet {
    margin-bottom: @spacing-large;
  }
  @media @mq-desktop {
    margin-bottom: @spacing-max;
  }
}

// Spacing Mixins - Small

.padTopSmall {
  @media @mq-phone {
    padding-top: @spacing-smaller;
  }
  @media @mq-tablet {
    padding-top: @spacing-small;
  }
  @media @mq-desktop {
    padding-top: @spacing-standard;
  }
}

.padBotSmall {
  @media @mq-phone {
    padding-bottom: @spacing-smaller;
  }
  @media @mq-tablet {
    padding-bottom: @spacing-small;
  }
  @media @mq-desktop {
    padding-bottom: @spacing-standard;
  }
}

.marTopSmall {
  @media @mq-phone {
    margin-top: @spacing-smaller;
  }
  @media @mq-tablet {
    margin-top: @spacing-small;
  }
  @media @mq-desktop {
    margin-top: @spacing-standard;
  }
}

.marBotSmall {
  @media @mq-phone {
    margin-bottom: @spacing-smaller;
  }
  @media @mq-tablet {
    margin-bottom: @spacing-small;
  }
  @media @mq-desktop {
    margin-bottom: @spacing-standard;
  }
}
