@import '../../styles/variables.less';

@small-navbar-height: 50px;
@navbar-height: 65px;

.navbar {
  padding: @spacing-standard 0;

  &__container {
    height: @navbar-height;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media @tiny-phone {
      height: @small-navbar-height;
    }
  }

  &__logo {
    display: flex;

    img {
      height: @navbar-height;

      @media @tiny-phone {
        height: @small-navbar-height;
      }
    }
  }
}

.links__container {
  display: flex;
  align-items: center;
}
