@import '../../styles/variables.less';
@import '../../styles/mixins.less';


@small-navbar-height: 50px;
@navbar-height: 57px;

.navbar {
  &__container {
    height: @navbar-height;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 16px;
    margin-bottom: 29px;
    @media @mq-phone {
      height: @small-navbar-height;
      margin-bottom: 23px;
    }
  }
  &__logo {
    display: flex;
    img {
      height: @navbar-height;
      @media @mq-phone {
        height: @small-navbar-height;

      }
    }
  }
  &__divider {
    display: block;
    height: 5px;
    background-image: url('../../assets/navbar-divider.svg');
    background-repeat: repeat-x;
    .marBotSmall();
  }
}

.links__container {
  display: flex;
  align-items: center;
}
