.job-details {
  img {
    margin-right: 2px;
    height: 12px;
  }
  
  &__salary {
    font-weight: 500;

    img {
      height: 7px;
    }
  }

  &__equity {
    font-weight: 500;

    img {
      height: 10px;
      margin: 0 2px -1px 0;
    }
  }
}