@phone: ~"(max-width: 599px)";
@tablet: ~"(min-width: 600px)";
@desktop: ~"(min-width: 1200px)";
@big-desktop: ~"(min-width: 1800px)";

@standard-spacing: 1rem;

// colors
@black: #000;
@color-white: #fff;
@color-primary: #8065EE;
@color-blue: #00b0ff;
@color-red: #ff1744;

// buttons
@button-height: 38px;

// font-size
@font-size-tiny: 10px;
@font-size-small: 12px;
@font-size-smaller: 13px;
@font-size-normal: 16px;
@font-size-larger: 18px;
@font-size-large: 20px;

// spacing
@spacing-tiny: 5px;
@spacing-small: 10px;
@spacing-standard: 16px;
@spacing-larger: 20px;