@phone: ~'(max-width: 599px)';
@tablet: ~'(min-width: 600px)';
@desktop: ~'(min-width: 1200px)';
@big-desktop: ~'(min-width: 1800px)';

@standard-spacing: 1rem;

// colors
@black: #000;
@color-white: #fff;
@color-light-gray: #eaeaea;
@color-primary: rgb(128, 101, 238);
@color-blue: #00b0ff;
@color-red: #ff1744;

// shadows
@shadow-discrete: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
@shadow-alt: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

// buttons
@button-height: 38px;

// font-size
@font-size-tiny: 10px;
@font-size-small: 11px;
@font-size-smaller: 13px;
@font-size-copy: 14px;
@font-size-normal: 16px;
@font-size-larger: 18px;
@font-size-large: 20px;

// spacing
@spacing-tiny: 5px;
@spacing-small: 10px;
@spacing-standard: 16px;
@spacing-larger: 20px;

// inputs
@input-small-height: 30px;
@input-small-width: 80px;

// checkboxes / radio
@radio-height: 25px;
@radio-width: 25px;
