.job-card {
  display: flex;
  padding: 1rem;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: background-color 100ms;

  &__title {
    font-size: @font-size-normal;
    font-weight: 700;
    transition: color 50ms;
  }

  &__type {
    font-size: @font-size-smaller;
    margin-top: 2px;

    img {
      margin-right: @spacing-tiny;
      height: 13px;
    }
  }

  &__image {
    img {
      height: 60px;
      width: 60px;
    }
  }

  &__details {
    margin-left: 1rem;

    .row {
      display: flex;
      font-weight: 500;
      margin-top: @spacing-small;
      align-items: baseline;

      &:first-child {
        margin-top: @spacing-tiny;
      }
    }

    &__teaser {
      margin-top: @spacing-small;
    }
  }

  & + & {
    margin-top: 1rem;
  }
}
