.job-card {
  display: flex;
  padding: @spacing-standard;
  border-radius: 2px;
  background-color: @white;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.12);
  transition: background-color 100ms;

  &__container {
    & + & {
      margin-top: 1rem;
    }
  }

  &__title {
    .font-big();
    transition: color 50ms;
  }

  &__time-ago {
    font-size: @font-size-smaller;
    color: @font-color-secondary;
    text-align: right;
    margin-top: @spacing-tiny;
    margin-right: @spacing-standard;
  }

  &__image {
    img {
      height: 60px;
      width: 60px;
    }
  }

  &__details-container {
    margin-left: 1rem;
  }

  &__details {
    margin-top: @spacing-small;
    font-weight: 500;
    font-size: @font-size-smaller;
    color: @font-color-secondary;
  }

  &__company {
    font-weight: 600;
    color: @font-color-secondary;
    font-size: @font-size-normal;
  }
}
